body {
  margin: 0;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  min-width: 400px;
}

.container {
  width: 400px;
  margin: 0 auto;
  border: 2px solid red;
}

input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #5f9341;
  margin-bottom: 4px;
}

button {
  background: #5f9341;
  color: white;
  padding: 10px 20px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid #5F9341;
}

#delete-btn {
  background-color: #fff;
  color: #5F9341;
}

a {
  color: #5F9341;
}

ul {
  padding-left: 0;;
  margin-top: 20px;
}

li {
  list-style: none;
  margin-top: 5px;
}